/* Container Styling */
.vin-search-container {
  width: 100%;
  background-color: #e3f7ff;
  padding: 50px 30px;
  justify-content: center;
  align-items: center;
}

.vin-subtitle{
  margin-top: 80px;
  color: #467cbf;
  font-size: x-large;
  font-style: bold;
  text-align: center;
}

/* Sticky Search Bar */
.vin-form-container {
  z-index: 1000; /* Ensure it stays on top */
  background-color: #e3f7ff; /* Add background color to avoid transparency */
  padding: 20px 0;
  padding-right: 0px;
  width: 100%;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1); /* Subtle shadow for emphasis */
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
}

/* Search Bar Wrapper */
/* Search Bar Wrapper */
.vin-input-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  border-radius: 25px;
  background-color: #ffffff;
  transition: border 0.3s ease;
  width: 800px; /* Adjusted width to reduce size */
  margin: 0 auto; /* Center the search bar */
}

.vin-input-wrapper:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}


.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:center; /* Space between each card */
  margin-right: 35px;
}

/* Input Field */
.vin-input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
  border-radius: 25px;
  margin-left: 8px;
}

/* Submit Button */
.vin-submit-btnn {
  padding: 14px 30px;
  border: none;
  outline: none;
  background-color: #467cbf; /* Theme color */
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.vin-submit-btnn:hover {
  background-color: #f8b024; /* Darker shade */
  color: #467cbf;
}


.vin-submit-btn:hover {
  background-color: #f8b024; /* Darker shade */
  color: #467cbf;
}
/* Mobile Responsiveness */
@media (max-width: 768px) {

  .vin-form-container {
 
    background-color: #e3f7ff;
    padding: 10px 0px;
    
    width: 75%;
    box-shadow: 0 14px 18px rgba(44, 44, 44, 0.1); 
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 50px;
    
  }
  
  .vin-input-wrapper {
    width: 100%; 
    padding: 3px;
  
  }

  .vin-input {
    padding: 4px; /* Adjust padding for input */
    font-size: 14px; /* Slightly smaller font size */
    
  }

  .vin-submit-btn {
    padding: 10px 20px; /* Adjust padding for button */
    font-size: 14px; /* Slightly smaller font size */
  }
}

@media (max-width: 480px) {

  
.vin-search-content {
  background-color: #e3f7ff;
  margin: 25px 5px;
 margin-right: 10px;
  position: block;
  text-align: center;
  padding: 0 20px;
}

.vin-subtitle{
  margin-top: 70px;
  color: #467cbf;
  
  font-style: bold;
  text-align: center;
 
}
.new-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 30px;
}
.vin-title{
  margin-top: -10px;
  font-size:20px;
  font-style: bold;
  text-align: center;
}
.vin-form-container {
 
  background-color: #e3f7ff;
  padding: 10px 0px;
  width: 85%;
  box-shadow: 0 14px 18px rgba(44, 44, 44, 0.1); 
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 0px;
  
}

  .vin-input-wrapper {
    width: 100%; 
    padding: 3px 2px; 
   
  }

  .vin-input {
    padding: 10px 0px;
  
    font-size: 10px;
  }

  .vin-submit-btnn {
    padding: 5px 7px;
    border: none;
    outline: none;
    background-color: #467cbf; /* Theme color */
    color: #fff;
    border-radius: 30px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s ease;
    width: 40%;
    text-wrap: nowrap;
  }
  .easy-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 30px;

  }

}


.how-it-works .text-center h3 {
  color: #467cbf;
  font-size: 22px;
  margin-bottom: 15px;
 
}

.how-it-works .text-center h2 {
  color: #222;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.3em;
  text-align: center;
  padding: 0 20px;
}

.steps-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.step-item {
  width: 300px; 
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.step-item:hover {
  transform: translateY(-10px); /* Slightly elevate the card on hover */
}

.step-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background-color: #467cbf;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.step-title {
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #222;
}

.step-description {
  font-size: 16px;
  color: #666;
  margin: 0 auto;
  max-width: 250px;
}



.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:center; 
}


.card {
  flex: 1 1 20%;
  margin: 15px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;
  color: #666;
}


.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}





@media (max-width: 768px) {
 
}


