.header {
  width: 100%;
  background-color: #f5f9fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-spacing {
  height: 70px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  max-width: 1200px;
  margin: auto;
}

.logo img {
  width: 150px;
}

.nav-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Navigation Links Styling */
.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 20px; /* Add spacing between links and button */
}

.nav-item {
  text-decoration: none;
  font-size: 18px;
  color: #222;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #467cbf;
}
.contact-button {
  padding: 10px 20px;
  background-color: #467cbf;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.contact-button button:hover {
  background-color: #f8b024;
  color: #467cbf;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #222;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-button-container {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f5f9fc;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 999;
  }

  .nav-button-container.open {
    display: flex;
  }

  .nav-item {
    text-wrap: nowrap;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: flex;
  }

  .contact-button button {
    padding: 10px 8px;
    background-color: #467cbf;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
    text-wrap: nowrap;
  }
  .nav-button-container {
    padding: 10px;
  }

  .nav-item {
    text-wrap: nowrap;
    margin-bottom: 6px;
  }
}
